.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview-info-list{
  width: 120px;
  height: 70px;
  justify-content: center;
  background: #ffdfa7;
  margin: 10px;
  border: 5px solid #ca9650;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  padding: 15px;
}
